<form [formGroup]="updateAfiliationForm" (ngSubmit)="updateEmployeeAfiliation()">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title class="mat-card-title">Update Afiliation</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input formControlName="entityName" matInput>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Date of Afiliation</mat-label>
          <input formControlName="dateAfiliation" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="mat-slide-toggle-container">
          <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <div class="button-group">
          <button mat-button type="submit" color="primary" class="button">Save</button>
          <button mat-button (click)="goToConsult()" color="warn" class="button">Cancel</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>

